name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
  push:
    branches: ['*']
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Set node version to 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - run: pnpm install

      - name: Run prettier
        run: pnpm run format

      - uses: autofix-ci/action@d3e591514b99d0fca6779455ff8338516663f7cc
